.container__header {
  display: flex;
  flex-direction: column;
}

.name,
.section__info {
  display: block;
}

.name {
  font-size: var(--font-size-xlarge);
  flex-basis: 70%;
  font-weight: var(--font-bold);
}

.section__info {
  flex-basis: 30%;
  font-size: var(--font-size-medium);
  color: var(--color-alt);
}

.section__info a:link {
  text-decoration: none;
}
.section__info a:hover,
.section__info a:focus {
  text-decoration: underline;
}

.info {
  white-space: pre-wrap;
}

@media print {
  .name {
    color: var(--color-main);
  }
  .section__info {
    color: var(--color-main);
  }
}
