.section__info {
  display: flex;
  flex-direction: column;
}

.section__info li {
  display: flex;
  column-gap: 20px;
}

.section__info .icon img {
  width: 25px;
}

.section__info .phone {
  display: none;
}

.section__info .phone .icon {
  width: 20px;
  padding: 0 2.5px;
}

.section__info .phone .icon img {
  width: 20px;
}

@media print {
  .section__info .phone {
    display: inherit;
  }
}

.github {
  order: 4;
}

.linkedin {
  order: 3;
}

.email {
  order: 2;
}

.phone {
  order: 1;
}

.city {
  order: 0;
}

.card__header {
  font-size: var(--font-size-medium);
}

.card__subtitle {
  font-size: var(--font-size-small);
}
.card__content {
  font-size: var(--font-size-small);
}
