.header {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: var(--card-justify-content);
  column-gap: 10px;
  font-size: var(--font-size-card-header);
}

.header > div {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}

.header .center {
  text-align: center;
}

.header .right {
  text-align: right;
}

.subtitle {
  font-size: var(--font-size-card-subtitle);
  color: var(--color-font-card-subtitle);
}

.body {
  font-size: var(--font-size-card-body);
}
