.container__app {
  --background-color-main: #dbdad9;
  --color-main: #231f20;
  --background-color-alt: #4d4e59;
  --color-alt: #f1eff4;
  --color-alt2: var(--color-alt);
  --color-alt3: var(--color-alt);
  --color-alt4: var(--color-alt);

  --size-name: 45px;
  --size-job-title: 16px;
  --size-section-headings: 24px;
  --size-subsection-headings: 16px;
  --size-subsection-descriptions: 14px;

  --font-size-xlarge: 45px;
  --font-size-large: 24px;
  --font-size-medium: 16px;
  --font-size-small: 14px;

  --font-family: "Times New Roman", Times, serif;

  display: grid;
  margin: 0;
  grid-template-areas: "main side";
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  min-height: 100vh;

  background-color: var(--background-color-main);
  color: var(--color-main);
}

.container__app ul {
  margin: 0;
}

.container__app > div {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info,
.heading,
.description,
.name {
  display: block;
}
