.container__app {
  display: grid;
  margin: 0;
  grid-template-areas: "main side";
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  min-height: 100vh;

  background-color: var(--background-color-main);
  color: var(--color-main);
}

.container__app > div {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info,
.heading,
.description,
.name {
  display: block;
}
