.container__header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.section__name {
  margin-bottom: 5px;
  /* font-family: var(--font-family); */
  font-size: var(--font-size-xlarge);
  flex-basis: 70%;
  font-weight: bold;
}

.section__info {
  font-size: var(--font-size-medium);
  font-weight: normal;
  flex-basis: 30%;
}

.section__name,
.section__info {
  display: block;
}

.section__info {
  white-space: pre-wrap;
}

.section__info a,
.section__info a:link {
  text-decoration: none !important;
}
.section__info a:hover,
.section__info a:focus {
  text-decoration: underline !important;
}
