.container__main {
  grid-area: main;
  padding: 50px 25px 0 50px;
}

.container__main a,
.container__main a:active,
.container__main a:visited,
.container__main a:hover,
.container__main a:focus,
.container__main a:link {
  text-decoration: underline;
}

.container__main .title {
  font-weight: bold;
}

.container__main .experiences > .title,
.container__main .projects > .title {
  font-size: var(--size-section-headings);
  margin-bottom: 18px;
}

.container__main > * > * > .title {
  margin-bottom: 2px;
}

.container__main > * > * > .info,
.container__main > * > * > .description,
.container__side > * > .info {
  font-size: var(--size-subsection-descriptions);
  margin-bottom: 2px;
}

/* - experiences */
.container__main .experience .title {
  margin-top: 3px;
}
