.container__side {
  padding: 50px 20px 20px 30px;
  line-height: 30px;
  justify-content: space-between;
  background-color: var(--background-color-alt);
  color: var(--color-alt);
}

.container__side ul {
  list-style: none;
  padding: 0;
}

.container__side > * > .title {
  font-size: var(--size-subsection-headings);
  font-weight: bold;
}
