.container__card {
  font-size: var(--font-size-medium);
}

.card__header {
  font-weight: bold;
}

.card__subtitle {
  white-space: pre-wrap;
}

.card__content ul {
  list-style-position: outside;
  white-space: pre-wrap;
  list-style-type: "-   ";
  margin-left: -15px;
}

.card__content ul,
.card__content li {
  margin: 5px 0 0 0;
}
