@import url("https://fonts.googleapis.com/css?family=Roboto:bold");

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body,
body > div:first-child,
div#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a:focus,
a:hover {
  text-decoration: none !important;
}

/* utils */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.outline {
  border: solid 2px red;
}
.highlight {
  background: gray;
}
.hide {
  display: none;
}
.extra-large {
  font-size: var(--extra-large);
}
.large {
  font-size: var(--large);
}
.medium {
  font-size: var(--medium);
}
.small {
  font-size: var(--small);
}
.extra-small {
  font-size: var(--extra-small);
}

/* global vars */
:root {
  --black: #282828;
  --green: #33ff00;
  --amber: #ffb000;
  --extra-large: 70px;
  --large: 60px;
  --medium: 45px;
  --small: 30px;
  --extra-small: 20px;
}

@media only screen and (max-width: 780px) {
  :root {
    --extra-large: 40px;
    --large: 32px;
    --medium: 25px;
    --small: 20px;
    --extra-small: 15px;
  }
}
