@import url("https://fonts.googleapis.com/css?family=Roboto:bold,wght@100-500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body,
body > div:first-child,
div#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a:focus,
a:hover {
  text-decoration: none !important;
}

/* utils */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.outline {
  border: solid 2px red;
}
.highlight {
  background: whitesmoke;
}
.none {
  display: none;
}
.hide {
  visibility: hidden;
}
.extra-large {
  font-size: var(--extra-large);
}
.large {
  font-size: var(--large);
}
.medium {
  font-size: var(--medium);
}
.small {
  font-size: var(--small);
}
.extra-small {
  font-size: var(--extra-small);
}
.outline-neon {
  font-weight: 100;
  border: var(--green) 0.125em solid;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--green); */
  box-shadow: inset 0 0 8px 0 var(--green), 0 0 8px 0 var(--green);
  animation: Flickering-Glow 1s linear alternate infinite;
}
.blurred-background {
  height: 110%;
  width: 100%;
  top: -10%;
  left: 0;
  right: 0;
  background-color: var(--black);
  background: linear-gradient(rgba(57, 251, 9, 0.02), rgba(51, 255, 0, 0.005)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      rgba(40, 40, 40, 0.4) 5px,
      rgba(40, 40, 40, 0.4) 5px
    );
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  animation: CTR-Monitor 0.2s linear infinite;
}
.transparent-text {
  color: transparent;
}
.z-index-10 {
  z-index: 10;
}

/* global vars */
:root {
  --black: #282828;
  --black: rgb(40, 40, 40);
  --green: #33ff00;
  --green: rgb(51, 255, 0);
  --amber: #ffb000;
  --amber: rgb(255, 176, 0);
  --extra-large: 70px;
  --large: 60px;
  --medium: 45px;
  --small: 30px;
  --extra-small: 20px;
}

@media only screen and (max-width: 780px) {
  :root {
    --extra-large: 60px;
    --large: 40px;
    --medium: 35px;
    --small: 22px;
    --extra-small: 15px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --extra-large: 50px;
    --large: 40px;
    --medium: 35px;
    --small: 22px;
    --extra-small: 15px;
  }
}

/* animations */
@keyframes CTR-Monitor {
  to {
    transform: translateY(10px);
  }
}

@keyframes Flickering-Glow {
  to {
    box-shadow: inset 0 0 10px 0 var(--green), 0 0 10px 0 var(--green);
  }
}
